<nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand active" routerLink="/home">
      <i class="fa-solid fa-book"></i> Biblioteca
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/libros">Valoraciones</a>
        </li>
        <!-- Solo mostrar si el usuario es admin o bibliotecario -->
        <li class="nav-item" *ngIf="isAdminOrLibrarian">
          <a class="nav-link" routerLink="/gestiondeusuario">Gestión de Usuarios</a>
        </li>
        <li class="nav-item" *ngIf="isAdminOrLibrarian">
          <a class="nav-link" aria-current="page" routerLink="/prestamos">Préstamos</a>
        </li>
        <li class="nav-item" *ngIf="isAdminOrLibrarian">
          <a class="nav-link" routerLink="/notificaciones">Notificaciones</a>
        </li>
      </ul>
      <div class="d-flex">
        <a *ngIf="!isToken" class="nav-link" routerLink="/login">
          <i class="fa-solid fa-user"></i> Login
        </a>
        <a *ngIf="isToken" class="nav-link" (click)="cerrarSesion()">
          <i class="fa-solid fa-user"></i> Cerrar sesión
        </a>
      </div>
    </div>
  </div>
</nav>
