<app-nav></app-nav>
<div class="container">
  <h2>Selector de Libros</h2>
  
  <div class="filter-bar">
    <input type="text" class="form-control" placeholder="Buscar libro">
    <div class="settings-icon">
      <img src="https://cdn-icons-png.flaticon.com/512/3524/3524639.png" alt="Configuración" class="config-img">
    </div>
  </div>

  <div class="book-grid">
    <div class="book">
      <img src="../../assets/reyes_caidos.webp" alt="Reyes Caídos">
      <div class="title">Reyes Caídos</div>
      <div class="stars">★★★★★</div>
    </div>
    <div class="book">
      <img src="assets/crucedecaminos.webp" alt="Crucede Caminos">
      <div class="title">Cruce de Caminos</div>
      <div class="stars">★★★★★</div>
    </div>
    <div class="book">
      <img src="assets/lhommemontagne.jpg" alt="L'homme de la montagne">
      <div class="title">L'homme de la montagne</div>
      <div class="stars">★★★★☆</div>
    </div>
    <div class="book">
      <img src="assets/cuentosdeotoño.jpg" alt="Cuentos de Otoño">
      <div class="title">Cuentos de Otoño</div>
      <div class="stars">★★★★★</div>
    </div>
  </div>

  <div class="pagination mt-3">
    <button class="btn btn-secondary">←</button>
    <button class="btn btn-secondary">Next →</button>
  </div>
</div>
