<app-nav></app-nav>
<div class="container">
  <h1>Notificaciones</h1>

  <form (ngSubmit)="agregarNotificacion()">
    <div class="form-group">
      <label for="texto">Texto de Notificación:</label>
      <input type="text" id="texto" [(ngModel)]="notificacion.texto" name="texto" class="form-control" required>
    </div>

    <div class="form-group">
      <label for="id_usuario">ID Usuario:</label>
      <input type="number" id="id_usuario" [(ngModel)]="notificacion.id_usuario" name="id_usuario" class="form-control" required>
    </div>

    <button type="submit" class="btn btn-primary mt-3">{{ editMode ? 'Guardar Cambios' : 'Agregar Notificación' }}</button>
  </form>

  <table class="table mt-4">
    <thead>
      <tr>
        <th>Texto</th>
        <th>ID Usuario</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let notificacion of notificaciones; let i = index">
        <td>{{ notificacion.texto }}</td>
        <td>{{ notificacion.id_usuario }}</td>
        <td>
          <button (click)="editarNotificacion(i)" class="btn btn-warning">Editar</button>
          <button (click)="eliminarNotificacion(i)" class="btn btn-danger">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
