<app-nav></app-nav>

<div class="container mt-5">
  <h2 class="text-center mb-4">Gestión de Usuarios</h2>

  <!-- Barra de búsqueda y botón de añadir -->
  <div class="d-flex mb-3">
    <input type="text" (input)="buscar()" class="form-control me-2 flex-grow-1" [(ngModel)]="searchQuery" placeholder="Buscar usuarios...">
    <button class="btn btn-secondary" (click)="buscar()"><i class="fa-solid fa-magnifying-glass"></i></button>
    <a class="btn btn-primary ms-2" routerLink="/usuario/null/Alta">
      <i class="fa-solid fa-plus"></i>
    </a>
  </div>

  <!-- Tabla de usuarios -->
  <table class="table table-bordered mb-3">
    <thead class="table-light">
      <tr>
        <th>Nombre</th>
        <th>Teléfono</th>
        <th>ID</th>
        <th>Correo Electrónico</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of filteredUsers">
        <td>{{usuario.name}}</td>
        <td>{{usuario.phone}}</td>
        <td>{{usuario.id}}</td>
        <td>{{usuario.email}}</td>
        <td>
          <button class="btn btn-primary btn-sm me-2" (click)="editarusuario(usuario)">
            <i class="fa-solid fa-pen-to-square"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Paginación -->
</div>

<!-- Modal para agregar nuevo usuario -->
<div class="modal fade" id="nuevoUsuarioModal" tabindex="-1" aria-labelledby="nuevoUsuarioModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="nuevoUsuarioModalLabel">Agregar Nuevo Usuario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre">
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </div>
</div>
