<app-nav></app-nav>
<div class="top-bar">
  <img src="assets/logo.png" alt="Logo">
</div>
<div class="container mt-5" *ngIf="libro">
  <div class="book-detail">
    <div class="book-cover">
      <img [src]="libro.image" alt="{{ libro.title }}" style="width: 200px; height: auto; margin-left: 150px;">
    </div>
    <div class="book-info"> 
      <h2>{{ libro.title }}</h2>
      <div class="stars" id="starRating">
        <span *ngFor="let star of libro.stars.split('')">{{ star }}</span>
      </div>
      <div class="synopsis">
        <h4>Sinopsis</h4>
        <p>{{ libro.synopsis }}</p>
      </div>
    </div>
  </div>

  <div class="comments">
    <h4>Comentarios</h4>
    <ul class="list-group">
      <li class="list-group-item">Comentario 1</li>
      <li class="list-group-item">Comentario 2</li>
      <li class="list-group-item">Comentario 3</li>
      <li class="list-group-item">Comentario 4</li>
    </ul>
  </div>

  <!-- Paginación -->
  <div class="pagination mt-3">
    <button class="btn btn-secondary">←</button>
    <button class="btn btn-secondary">Next →</button>
  </div>
</div>
